body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-blue: #0084ff;
  --color-green: #44bec7;
  --color-yellow: #ffc300;
  --color-red: #fa3c4c;
  --color-purple: #d696bb;
  --color-dark: #666666;
}

table {
  border-collapse: collapse;
}

table tr {
  border: 1px solid black;
}

table td {
  padding: 0 10px;
  border: 1px solid black;
}